<!--the line below is taken from a template-->
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            
        </nav>
        <p class="copyright pull-right">
            &copy; <a href="https://www.linkedin.com/in/vadim-malakhovski/" target="_blank">AdsUp</a>, improves workflows
        </p>
    </div>
</footer>


